* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding: 15px;
}

.showBtn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightslategray;
    color: #d7d7d7;
    transition: all .1s linear;
}
.showBtn:hover {
    background-color: #6d8f9d;
    color: #eeebeb;
}
.showBtn:active {
    background-color: #566670;
    color: #b4b4b4;
    border: 1px solid black;
}

.coinsNumber {
    font-size: 18px;
    margin: 10px 0;
}

.titles {
    display: flex;
    margin-top: 20px;
}

.title {
    width: 9%;
    font-weight: 700;
}
.title:first-child {
    opacity: 0;
}

.title-cursor {
    cursor: pointer;
}